.Box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.34);
}

.SignUpForm {
  width: 40%;
  height: 60%;
  border: solid 3px purple;
  border-radius: 15px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px;
  background-color: white;
}

.title {
  position: absolute;
  width: 200px;
  height: 50px;
  border: 3px solid purple;
  border-radius: 15px;
  top: 17.5%;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  background-color: rgb(251, 251, 251);
  border-bottom: 3px solid purple;
  padding: 5px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.info2 {
  padding: 5px;
  width: 100%;
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
}

.input {
  height: 30px;
  width: 70%;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  font-size: 18px;
  padding-left: 10px;
}
