.background {
  background-color: rgba(0, 0, 0, 0.333);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loginBox {
  background-color: white;
  width: 500px;
  height: 40%;
  padding: 30px;
  border: solid 3px purple;
  border-radius: 15px;
  cursor: auto;
}

.loginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.input {
  height: 30px;
  width: 80%;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  font-size: 18px;
  padding-left: 10px;
}

.button {
  color: white;
  background-color: purple;
  border-radius: 10px;
  width: 100px;
  height: 33px;
  font-size: 18px;
}

.button:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}
